################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
project.lock.json
project.fragment.lock.json
artifacts/
.vs/