################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreFundamental/.vs/CoreFundamental/v16/Server/sqlite3
