@page
@model CoreFundamental.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>ClientRestaurants</h2>

@section Scripts{
<environment include="Development">

</environment>
<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</environment>
    
 
    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { method: "get" }).then(function (response) {
                    console.dir(response);
                });
        });
    </script>
}

