@page
@model CoreFundamental.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>ClientRestaurants</h2>
<table class="dataTable" id="restaurants">
</table>

@section Scripts{

    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <link href="~/node_modules/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    

    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { method: "get" }).then(function (response) {
                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cousin" }
                        ]
                    });

                });
        });
    </script>
}

