@page "{restaurantId:int}"
@model CoreFundamental.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Restaurant.Name</h1>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cousin
</div>

<a asp-page="./List"  class="btn btn-primary">All Restaurants</a>