@page
@model CoreFundamental.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restourant</h1>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cousin</td>
    </tr>
    }
</table>

<div>@Model.Message</div>